*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    font-family: 'inter';
}
/* ---------Header Style----------- */
header{
    background: #ff900e1a;
    width: 100%;
}
/* ---------Navbar Style------------ */
.nevbar{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 34px 0 0 0;
}
.nav-logo{
    font-weight: 700;
    font-size: 45px;
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style: none;
    margin-left: 25px;
}
.nav-menu ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}
/* banner style */
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-title{
    text-align: center;
    margin: 102px 436px 0;
    gap: 50px;
}
.title{
    font-weight: 700;
    font-size: 64px;
}
.title-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.banner-btn{
    margin-top: 50px;
}
.primary-button{
    padding: 10px 15px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #FF900E;
    border-radius: 5px;
    border: none;
}
.banner img{
    margin-top: 50px;
    width: 1200px;
    height: 500px;
}
/* -----Section Style------ */
.features{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1100px;
    margin: 130px auto 0;
    gap: 70px;
}
.feature-title, .feature-description{
    margin-bottom: 30px;
}
.feature-blog .feature-title{
    font-weight: 500;
    font-size: 30px;
}
.style-a{
    font-weight: 700;
}
.style-b{
    color: #FF900E;
}
.feature-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    border-radius: 5px;
}
.features img{
    width: 350px;
    height: 300px;
}
/* another feature style */
.another-feature{
    width:1200px;
    margin: 130px auto;
    display: flex;
    gap: 50px;
}
.top-blog h3{
    font-weight: 700;
    font-size: 45px;
    border-left: 3px solid #FF900E;
    padding-left: 21px;
}
.another-feature-blog{
    gap: 30px;

}
.bottom-blog{
    margin-top: 30px;
    padding: 20px;
}
.bottom-blog h4{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}
.another-feature-button{
    width: 300px;
    padding: 10px 15px;
    color: #FFFFFF;
    background-color: #FF900E;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: right;
}
.btn-title{
    font-weight: 700;
    font-size: 30px;
}
.btn-value{
    font-weight: 500;
    font-size: 25px;
}
.another-feature-image{
    width: 100%;
}
/* Facts Styles */
.facts{
    width: 1200px;
    margin: auto;
}
.fact-info{

}
.fact-title{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}
.fact-details{
    display: flex;
    justify-content: space-around;
}
.fact-item{
    margin-top: 70px;
    text-align: center;
    border: 1px solid #FF900E;
    padding:15px 20px;
    border-radius: 5px;

}
.facts .fact-item img{
    width: 30px;
    height: 30px;
}
.fact-item p{
    font-weight: 600;
    color: #727272;
}












