*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* ---------Header Style----------- */
header{
    background: #ff900e1a;
    width: 1400px;
    margin: auto;
}
/* --------Container--------- */
.container{
    width: 1100px;
    margin:120px auto;
}
/* ---------Navbar Style------------ */
.nevbar{
    width: 1100px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 34px 0 0 0;
}
.nav-logo{
    font-weight: 700;
    font-size: 45px;
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style: none;
    margin-left: 25px;
}
.nav-menu ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}
/* ----------Banner Style---------- */
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-title{
    text-align: center;
    margin: 102px 436px 0;
    gap: 50px;
}
.title{
    font-weight: 700;
    font-size: 64px;
}
.title-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.banner-btn{
    margin-top: 50px;
}
.primary-button{
    padding: 10px 15px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #FF900E;
    border-radius: 5px;
    border: none;
}
.banner img{
    margin-top: 50px;
    width: 1200px;
    height: 500px;
}
/* -----Section Style------ */
.features{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
.feature-title, .feature-description{
    margin-bottom: 30px;
}
.feature-blog .feature-title{
    font-weight: 500;
    font-size: 30px;
}
.style-a{
    font-weight: 700;
}
.style-b{
    color: #FF900E;
}
.feature-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    border-radius: 5px;
}
.features img{
    width: 350px;
    height: 300px;
}
/* ----------Another Feature Style */
.another-feature{
    display: flex;
    gap: 50px;
}
.top-blog h3{
    font-weight: 700;
    font-size: 45px;
    border-left: 3px solid #FF900E;
    padding-left: 21px;
}
.another-feature-blog{
    gap: 30px;

}
.bottom-blog{
    margin-top: 30px;
    padding: 20px;
}
.bottom-blog h4{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}
.another-feature-button{
    width: 250px;
    padding: 10px 15px;
    color: #FFFFFF;
    background-color: #FF900E;
    border-radius: 5px;
    border: none;
    text-align: center;
}
.btn-title{
    font-weight: 700;
    font-size: 30px;
}
.btn-value{
    font-weight: 500;
    font-size: 25px;
}
.another-feature-image{
    width: 100%;
}
/* ---------- Facts Styles---------- */
.fact-title{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}
.fact-details{
    display: flex;
    justify-content: space-around;
}
.fact-item{
    margin-top: 70px;
    text-align: center;
    border: 1px solid #FF900E;
    padding:15px 20px;
    border-radius: 5px;

}
.facts .fact-item img{
    width: 30px;
    height: 30px;
}
.fact-item p{
    font-weight: 600;
    color: #727272;
}
/* ------------ Sponsor Style------------- */
.sponsor-info{
    padding: 0 350px;
    text-align: center;
}
.sponsor-info h3{
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}
.sponsor-info p{
    color: #727272;
}
.sponsor-image{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.sponsor .sponsor-image img{
    width: 130px;
    height: 40px;
    filter: grayscale(100%);
}
/* ----------Footer Style---------- */
.copyright{
    padding: 20px 20px;
    text-align: center;
    background-color: #FFF4E7;
    border-radius: 5px;
}
